section#about.text-center
	.container
		h2 ABOUT
		p.subtittle= subtittle
		.row.mg-top.text-right
			+aboutcol("round1","2009-2011", "Our Humble Beginnings")
		.row.mg-top.text-left
			+aboutcol2("round2","MARCH 2011", "An Agency is Born")
		.row.mg-top.text-right
			+aboutcol("round3","DECEMBER 2012", "Transition to Full Service")
		.row.mg-top.text-left
			+aboutcol2("round4","JULY 2014", "Phase Two Expansion")
		.row.mg-top
			.circulo BE PART OF OUR STORY!