section#portfolio.text-center
    .container
        h2 PORTFOLIO
        p.subtittle= subtittle
        .row
            +portfolioimg("img1", "Round Icons", "Graphic Design")
            +portfolioimg("img2", "Startup Framework", "Webside Design")
            +portfolioimg("img3", "Treehouse", "Webside Design")
        .row
            +portfolioimg("img4", "Golden", "Webside Design")
            +portfolioimg("img5", "Escape", "Webside Design")
            +portfolioimg("img6", "Dreams", "Webside Design")