section#services.text-center
	.container
		h2 SERVICES
		p.subtittle= subtittle
		.row
			+colservices("icon1", "E-commerce")
			+colservices("icon2", "Responsive Design")
			+colservices("icon3", "Web Securyty")