section#team.text-center
	.container
		h2 OUR AMAZING TEAM
		p.subtittle= subtittle
		.row
			+teamcol("foto1", "Kay Garland", "Lead Designer")
			+teamcol("foto2", "Larry Parker", "Lead Marketer")
			+teamcol("foto3", "Diana Pertersen", "Lead Developer")
		p.lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.