//variables kaushanbrand
//font-family: 'Droid Serif', serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Kaushan Script', cursive;
//font-family: 'Roboto Slab', serif;
$brand: #D9BE32;
$yellow: #FED136;
$fondo: #F7F7F7;
$white: #fff;
$black: #000;
$text: #777777;
$linea: #E0DDDD;
$contact: #222222;